@use "../abstract/mixin" as mixin;

.fontawesomeIcon{
    display: inline-block;
    margin-right: 2rem;
}
.center{
    text-align: center;
}
.uppercase{
    text-transform: uppercase;
}
.font-bold{
    font-weight: 600;
}
ul{
    list-style-type: none;

}
.block{
    display: block;
}
.ml-s{
    margin-left: 2rem;
}
.mt-m{
    margin-top: 4rem;
}
.mt-s{
    margin-top: 2rem;
}
.mb-s{
    margin-bottom: 2rem;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;  
}
.align-center{
    align-items: center;
}

.content2{
    flex-basis: 33%;
    height: 20rem;
}
.w-100{
    width: 100%;
}