@use "../abstract/mixin" as mixin;
@use "../abstract/variable" as variable;

.fontawesomeIcon{
    display: inline-block;
    margin-right: 2rem;
}
.center{
    text-align: center;
}
.uppercase{
    text-transform: uppercase;
}
.font-bold{
    font-weight: 600;
}
ul{
    list-style-type: none;

}
.block{
    display: block;
}
.ml-s{
    margin-left: 2rem;
}
.mt-m{
    margin-top: 4rem;
}
.mt-s{
    margin-top: 2rem;
}
.mt-xs{
    margin-top: .5rem;
}
.mb-s{
    margin-bottom: 2rem;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;  
}
.align-center{
    align-items: center;
}
.px-s{
    padding-left: 1rem;
    padding-right: 1rem;
}
.py-xs{
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.content2{
    flex-basis: 33%;
    height: 20rem;
}
.w-100{
    width: 100%;
}
.w-48{
    width: 48%;
}
.bg-primary{
    background-color: variable.$primary;
}.line-break{
    margin-top: 4px;
    border:  .2px solid variable.$primary;
  }
  .perfect-center{
    @include mixin.flex($justify:space-between, $align:center)
  }