.fontawesomeIcon{
    display: inline-block;
    margin-right: 2rem;
}

.uppercase{
    text-transform: uppercase;
}
.font-bold{
    font-weight: 600;
}
ul{
    list-style-type: none;
}

.ml-s{
    margin-left: 2rem;
}