@use "../abstract/variable" as variable;

.btn {
    padding: 1rem 2rem;
    min-width: 8rem;
    text-transform: uppercase;
    border-radius: 0.5rem;
    font-weight: 600;
    font-weight: 600;
}

.danger-btn {
    background-color: variable.$danger;
    color: variable.$white;
    &:hover{
        background-color: lighten($color: variable.$danger, $amount: 8);
    }
}

.blue-btn {
    background-color: variable.$blue;
    color: variable.$white;
    &:hover{
        background-color: lighten($color: variable.$blue, $amount: 8);
    }
}

.primary-btn {
    background-color: #2da44e;
    color: #f4f4f4;

    &:hover {
        background-color: #0b6d27;
    }
}